body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.buttonLink {
    background: none;
    border: none;
    text-decoration: none;
    color: #337ab7;
}

    .buttonLink:hover {
        text-decoration: underline;
        color: #403866;
    }

.col-md-4 {
    float: none !important;
}

.navbar-nav {
    float: none !important;
}

.revert-float {
    float: left !important;
}

.padding-lang {
    padding-right: 30px !important;
}

.buttonLink {
    font-size: 14px;
}

.dropDownList-JQuery {
    width: 25% !important;
}

.labels {
    padding: 5px 10px 0px;
}

.container {
    width: 1215px !important;
}