<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="secureBasic">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="wsBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<serviceCredentials>
					<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WCFService.ServiceAuthenticator, WCFService"/>
					</serviceCredentials>
					<serviceAuthorization serviceAuthorizationManagerType =" WCFService.RestAuthorizationManager, WCFService"/>
					</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="WCFService.WCFServices" behaviorConfiguration="wsBehaviour">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="secureBasic" contract="WCFService.IWCFServices" />
				<endpoint address ="" binding="webHttpBinding" contract="WCFService.IWCFServices" behaviorConfiguration="web"/>
			</service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>
	</system.serviceModel>
</configuration>