@using GlobalResource.Resources
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body class="text-center">
    <hgroup>
        <h2>@LangText.errorMsg </h2>
        <h4>@LangText.errorDetail</h4>
    </hgroup>
    <div>
        @Html.ActionLink(LangText.backToLogin, "login", "Login", null, new { @class = "button4" })
    </div>
</body>
</html>
