@using GlobalResource.Resources
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body class="text-center">
    <hgroup>
        <h2>@LangText.errorMsg </h2>
        <h4>@LangText.somethingWentWrong  </h4>
    </hgroup>
    <div>
        @using (Html.BeginForm("logout", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <li class="center-block">
                <input type="submit" value="@LangText.backToLogin " class="button4" />
            </li>
        }
    </div>
</body>
</html>
